# See https://pre-commit.com for more information
# See https://pre-commit.com/hooks.html for more hooks
default_stages: [ commit, push ]
repos:
  - repo: "https://github.com/pre-commit/pre-commit-hooks"
    rev: v6.0.0
    hooks:
      # prevents giant files from being committed
      - id: check-added-large-files
      # checks python files for simple parse errors
      - id: check-ast
      # prevents from adding binary literals
      - id: check-builtin-literals
      # no file names that would conflict in case-insensitive filesystems
      - id: check-case-conflict
      # no file names that cannot be created on Windows
      - id: check-illegal-windows-names
      # error on merge conflict strings
      - id: check-merge-conflict
      # checks toml files for parse errors
      - id: check-toml
      # checks yaml files for parse errors
      - id: check-yaml
      # error on debugger imports and `breakpoint()` calls
      - id: debug-statements
      # prevent secrets from being committed
      - id: detect-private-key
      # ensures files end with a newline
      - id: end-of-file-fixer
      # prevents adding git submodules
      - id: forbid-submodules
      # normalize all line endings to LF
      - id: mixed-line-ending
        args: [ --fix=lf ]
      # error if tests files don't start with `test_`'
      - id: name-tests-test
        args: [ --pytest-test-first ]
        # exclude settings and test app
        exclude: ^tests/(settings\.py|app/[a-zA-Z0-9_]+\.py)$
      # prevent commits to main
      - id: no-commit-to-branch
        args: [ --branch, main ]
        always_run: false
      # trims trailing whitespace
      - id: trailing-whitespace
        # preserve markdown linebreaks
        args: [ --markdown-linebreak-ext=md ]
  # Stricter Python and Django linting
  - repo: https://github.com/ambient-innovation/boa-restrictor
    rev: v1.12.4
    hooks:
      - id: boa-restrictor
        args: [ --config=pyproject.toml ]
        exclude: |
          (?x)^(
            /.*/tests/.*
            |.*/test_.*\.py
          )$
  # Markdown linting
  - repo: https://github.com/jackdewinter/pymarkdown
    rev: v0.9.33
    hooks:
      - id: pymarkdown
        exclude: ^.github/.*$
  # Sphinx linting
  - repo: https://github.com/sphinx-contrib/sphinx-lint
    rev: v1.0.2
    hooks:
      - id: sphinx-lint
  # Type checking
  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.407
    hooks:
      - id: pyright
  # Ruff linter and formatter
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.14.6
    hooks:
      # Python linter
      - id: ruff-check
      # Python formatter
      - id: ruff-format
