# This workflow will install Python dependencies and run pytest, with a specific version of Python and Django.
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-python

name: Pytest

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        # Test currently supported Python versions
        python-version: [ "3.12", "3.13", "3.14" ]
        # Test current LTS versions of Django
        django-version: [ "4.2", "5.2" ]

    steps:
    - uses: actions/checkout@v6
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v6
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install uv
      uses: astral-sh/setup-uv@v7
      with:
        python-version: ${{ matrix.python-version }}
    - name: Test with pytest, Python version ${{ matrix.python-version }}, Django version ${{ matrix.django-version }}
      run: uv run --with django==${{ matrix.django-version }} --group dev --frozen pytest --cov-fail-under=95
